root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/main ./cmd/gochat/"
bin = "./tmp/main"
include_ext = ["go"]
exclude_dir = ["vendor", "tmp"]
delay = 200
poll = true

[color]
# Customize each part's color. If no color found, use the raw app log.
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
# Delete tmp directory on exit
clean_on_exit = true

[log]
time = true
